.header{
  display: flex;
  justify-content: space-between;

}
.logo{
  width:10rem;
  height:3rem;
}
.header-menu{
  list-style: none;
  display: flex;
  color : #BABABA;
  gap:2rem;
  font-weight: 550;
}

.header-menu > li:hover{
  color: red;
  cursor: pointer;
}
@media(max-width:768px){
.header > :nth-child(2){
  padding: 0.5rem;
 background-color: rgb(66, 64, 64);
  ;
  z-index: 99;
}
.header-menu{
  padding: 3rem;
  flex-direction: column;
  background-color: var(--planCard);
  padding: 2rem;
  
}

}