.Join {
  display: flex;
  padding: 0 2rem;
  gap: 10rem;
}
.left-j{
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.left-j >hr{
  position: absolute;
  width: 10.5rem;
  border: 2px solid var(--red);
  border-radius: 20%;
  margin: -10px 0;
}
.left-j>div{
  display: flex;
  gap: 1rem;
}
.right-j{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.email_container{
  display: flex;
  gap:3rem;
  background-color: gray;
  padding: 1rem 2rem;
}
.email_container>input{
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(88, 86, 86);
}
::placeholder{
  color: lightgray;
}
.btn-j{
  background-color: var(--red);
  color: white;
}
@media(max-width:768px){
  .Join{
    flex-direction: column;
  }
  .left-j{
    flex-direction: column;
    font-size: xx-large;
  }
.right-j{
  padding: 2rem;
  flex-direction: column;
  margin-top: -50%;
  margin-left: 18rem;
  
}
}